torch>=2
torchvision>=0.15
accelerate>=1.2.1
bitsandbytes>=0.43.0
black>=24.4.2
datasets>=3.2.0
deepspeed==0.15.4
distilabel[vllm,ray,openai]>=1.5.2
einops>=0.8.0
flake8>=6.0.0
hf_transfer>=0.1.4
huggingface-hub[cli]>=0.19.2,<1.0
isort>=5.12.0
liger_kernel==0.5.2
# lighteval @ git+https://github.com/huggingface/lighteval.git@4f381b352c0e467b5870a97d41cb66b487a2c503#egg=lighteval[math]
math-verify
packaging>=23.0
parameterized>=0.9.0
pytest
safetensors>=0.3.3
sentencepiece>=0.1.99
torch>=2.5.1
trl==0.16.0
vllm==0.7.2
wandb>=0.19.1
pillow
qwen-vl-utils
rouge_score
decord
peft
azure.identity